.postContainer {
  font-family: Arial;
}

.postContent {
  margin-left: 15vw;
  margin-right: 15vw;
}

.mainImage {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.articleContainer {
  margin-top: 25px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.postDescription {
  font-weight: 300;
  color: #5A5A5A;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.authorInfo {
  margin-left: 20px;
  font-size: 15px;
  color: gray;
}

.authorName {
  color: green;
}

.pText {
  font-size: 300px;
}